<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBov5QCedj1m7O_YVlc7GbiJ0Z5Ua8DcwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>519798093347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreDbTest</string>
	<key>PROJECT_ID</key>
	<string>library-demo-project-4620f</string>
	<key>STORAGE_BUCKET</key>
	<string>library-demo-project-4620f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519798093347:ios:f6262c4758b80b4e8fa396</string>
</dict>
</plist>